html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $font-stack-roboto;
  padding-top: 75px;
}

.page {
  padding: 25px 0;
}

h1, h2, h3 {
  font-weight: 400;
}

.card {
  @include css3-prefix("box-shadow", "0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2)");
  @include css3-prefix("border-radius", "3px");
}

.btn-search {
  width: 100%;
  background: $accentColor;
  color: white;
  &:hover {
    @include opacity(0.9);
    color: white;
  }
}

.search-form {
  input, .btn-search {
    height: 4.5rem;
    font-size: 2rem;
    @include css3-prefix("border-radius", "5px");
  }
}