.image-thumb {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  background-size: cover;
  cursor: pointer;
  &:hover {
    .title {
      display: -webkit-box;
    }
  }
  .title {
    background: white;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    display: -webkit-box;
    max-width: 100%;
    max-height: 85px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: none;
  }
}

.search {
  .tags {
    padding: 20px 0;
    .nav-pills > li.active > a {
      background-color: $accentColor !important;
    }
    .nav-pills > li > a {
      border: 2px solid $accentColor;
      padding: 5px 5px;
      margin: 5px;
    }
  }
}