<div class="page-background">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Search images</h1>
        <p>Just type what you search or choose tag.</p>
        <form class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <input type="text" class="form-control" ng-model="mainCtrl.searchText" placeholder="Search for...">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <button class="btn btn-default" type="button" ng-click="search()">Search</button>
            </div>
        </form>
    </div>

    <ul class="nav nav-pills nav-justified">
        <li role="presentation" ng-repeat="tag in mainCtrl.getAllTag()" ng-class="{'active': mainCtrl.isActiveTag(tag.name)}">
            <a href="javascript:void(0)" ng-click="mainCtrl.setTag(tag.name)">{{tag.name}}</a>
            <ul ng-show="mainCtrl.isActiveTag(tag.name)">
                <li ng-repeat="subTag in tag.subTag">
                    <a href="javascript:void(0)" ng-click="mainCtrl.setTag(subTag.name)">{{subTag.name}}</a>
                    <ul>
                        <li ng-repeat="sub in subTag.subTag">
                            <a href="javascript:void(0)" ng-click="mainCtrl.setTag(sub)">{{sub}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </li>
    </ul>

</div>