<div class="search">
    <search-form data-params="searchCtrl.searchText"></search-form>

    <div class="tags">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" ng-repeat="tag in mainCtrl.getAllTag()" ng-class="{'active': mainCtrl.isActiveTag(tag.name)}">
                <a href="javascript:void(0)" ng-click="mainCtrl.toggleTag(tag.name)">{{tag.name}}</a>
                <ul class="nav nav-pills nav-stacked" ng-show="mainCtrl.isActiveTag(tag.name)">
                    <li ng-repeat="subTag in tag.subTag" ng-class="{'active': mainCtrl.isActiveTag(tag.name+'.'+subTag.name)}">
                        <a href="javascript:void(0)" ng-click="mainCtrl.toggleTag(tag.name+'.'+subTag.name)">{{subTag.name}}</a>
                        <ul class="nav nav-pills" ng-show="mainCtrl.isActiveTag(tag.name+'.'+subTag.name)">
                            <li ng-repeat="sub in subTag.subTag" ng-class="{'active': mainCtrl.isActiveTag(tag.name+'.'+subTag.name+'.'+sub)}">
                                <a href="javascript:void(0)" ng-click="mainCtrl.toggleTag(tag.name+'.'+subTag.name+'.'+sub)">{{sub}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
    <div ng-if="!results.photo">Search in progress..</div>
    <div ng-if="results.photo">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 image-thumb" ng-repeat="picture in results.photo"
             style="background-image: url('https://farm{{picture.farm}}.staticflickr.com/{{picture.server}}/{{picture.id}}_{{picture.secret}}_m.jpg');"
             ui-sref="main.photo({ id: picture.id})">
            <div class="title">{{picture.title}}</div>
        </div>
        <div class="col-xs-12 text-center">
            <uib-pagination total-items="searchCtrl.totalPages"
                            ng-model="searchCtrl.actualPage"
                            items-per-page="100"
                            max-size="5"
                            boundary-links="true"
                            class="pagination-sm"
                            rotate="false"
                            ng-change="refresh()">
            </uib-pagination>
        </div>
    </div>
</div>